@model TrainApp.Models.Stations

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Видалити</h1>

<h3>Ви впевнені що хочете видалити?</h3>
<div class="card">
    <div class="card-header">
        <h4 class="mb-0">Станція</h4>
    </div>
    <div class="card-body">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StationName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StationName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Region)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Region)
            </dd>
        </dl>

        <form asp-action="Delete" class="mt-3">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Видалити</button>
            <a asp-action="Index" class="btn btn-secondary">Назад</a>
        </form>
    </div>
</div>